<!doctype html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="&copy; {{site.time | date: '%Y'}} Webis">
    <link rel="icon" type="image/png" href="{{ '/img/favicon.png' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}?{{site.time | date: '%s'}}">
    {%- for css in page.additional_css %}
    <link rel="stylesheet" href="{{ css | relative_url }}?{{site.time | date: '%s'}}">
    {%- endfor %}
</head>

<body class="uk-offcanvas-content">
    <script src="{{ '/commons/js/thirdparty/uikit/uikit.min.js' | relative_url }}"></script>
    <script src="{{ '/commons/js/thirdparty/uikit/uikit-icons.min.js' | relative_url }}"></script>

    <div id="offcanvas-nav" class="mobile-nav" data-uk-offcanvas="overlay: true; flip: true;">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" data-uk-close></button>

            <!-- Off-canvas mobile navigation -->
            <nav class="uk-margin-large-top">
                <ul class="uk-nav uk-nav-primary uk-nav-parent-icon" data-uk-nav>
                    <!--<li class="{% if page.nav_active == 'leaderboard' %} uk-active{% endif %}">
                        <a href="{{ '/leaderboard.html' | relative_url }}">Leaderboard</a>
                    </li>-->
                    <li class="nav-group-start{% if page.nav_active == 'tira-guide' %} uk-active{% endif %}">
                        <a href="{{ '/tira-guide.html' | relative_url }}">TIRA Guide</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="uk-background-secondary global-nav" data-uk-sticky>
        <nav class="uk-navbar-container uk-navbar-transparent uk-container uk-light" data-uk-navbar="mode: click">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li{% if page.nav_active == "index" %} class="uk-active" {% endif %}>
                        <a href="{{ '/' | relative_url }}" id="group-logo">Touché @ CLEF Argument Retrieval</a>
                        </li>
                </ul>
            </div>
            <!-- Mobile navigation toggle button -->
            <div class="uk-navbar-right mobile-nav">
                <button class="uk-button uk-navbar-item uk-light uk-button-large" type="button"
                    data-uk-icon="icon: menu" data-uk-toggle="target: #offcanvas-nav"></button>
            </div>

            <!-- Desktop navigation -->
            <div class="uk-navbar-right desktop-nav">
                <ul class="uk-navbar-nav">
                    <!--<li class="{% if page.nav_active == 'leaderboard' %} uk-active{% endif %}">
                        <a href="{{ '/leaderboard.html' | relative_url }}">Leaderboard</a>
                    </li>-->
                    <li class="nav-group-start{% if page.nav_active == 'tira-guide' %} uk-active{% endif %}">
                        <a href="{{ '/tira-guide.html' | relative_url }}">TIRA Guide</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <main class="uk-section uk-cover-container index-main-cover">
        <div class="cover-background-fade"></div>
        <div class="uk-container uk-position-bottom uk-light uk-padding">
                <h1>Touché 2020</h1><h1>1st Shared Task on Argument Retrieval</h1>
                <h2>Collocated with <a class="title-link" href="https://clef2020.clef-initiative.eu/" target="blank">CLEF 2020</a> in Thessaloniki, Greece. Evaluations will commence from January till June. The conference will be in the week from September 22-25, 2020.</h2>
            
        </div>
    </main>

    <div data-uk-height-viewport="expand: true">
        {{ content }}
    </div>

    <footer class="uk-section uk-section-muted">
       <div class ="uk-container Hyphenator202css3hyphenate">
            <h2>Task Committee</h2>

            <div data-uk-grid="" class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                <div class="uk-first-column">
                    <div class="uk-card uk-card-default uk-card-body">
                        <a href="https://www.informatik.uni-halle.de/arbeitsgruppen/big_data_analytics/mitarbeiter/bondarenko/" class="uk-link-reset">
                            <div class="thumbnail-left"><img src="/img/bondarenko.png" alt="Alexander Bondarenko"></div>
                            <div class="uk-height-1-1">
                                <div class="uk-card-title">Alexander Bondarenko</div>
                                <div class="uk-text-secondary uk-margin-top">Martin-Luther-Universität Halle-Wittenberg</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <a href="https://www.informatik.uni-halle.de/arbeitsgruppen/big_data_analytics/mitarbeiter/hagen/" class="uk-link-reset">
                            <div class="thumbnail-left"><img src="/img/hagen.jpg" alt="Matthias Hagen"></div>
                            <div class="uk-height-1-1">
                                <div class="uk-card-title">Matthias Hagen</div>
                                <div class="uk-text-secondary uk-margin-top">Martin-Luther-Universität Halle-Wittenberg</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <a href="https://temir.org/people.html" class="uk-link-reset">
                            <div class="thumbnail-left"><img src="/img/potthast.jpg" alt="Martin Potthast"></div>
                            <div class="uk-height-1-1">
                                <div class="uk-card-title">Martin Potthast</div>
                                <div class="uk-text-secondary uk-margin-top">Leipzig University</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <a href="https://cs.uni-paderborn.de/css/" class="uk-link-reset">
                            <div class="thumbnail-left"><img src="/img/wachsmuth.jpg" alt="Henning Wachsmuth"></div>
                            <div class="uk-height-1-1">
                                <div class="uk-card-title">Henning Wachsmuth</div>
                                <div class="uk-text-secondary uk-margin-top">Paderborn University</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <a href="https://www.inf.uni-hamburg.de/en/inst/ab/lt/people/meriem-beloucif.html" class="uk-link-reset">
                            <div class="thumbnail-left"><img src="/img/beloucif.png" alt="Meriem Beloucif"></div>
                            <div class="uk-height-1-1">
                                <div class="uk-card-title">Meriem Beloucif</div>
                                <div class="uk-text-secondary uk-margin-top">Universität Hamburg</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <a href="https://www.inf.uni-hamburg.de/en/inst/ab/lt/people/chris-biemann.html" class="uk-link-reset">
                            <div class="thumbnail-left"><img src="/img/biemann.jpg" alt="Chris Biemann"></div>
                            <div class="uk-height-1-1">
                                <div class="uk-card-title">Chris Biemann</div>
                                <div class="uk-text-secondary uk-margin-top">Universität Hamburg</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <a href="https://faculty.skoltech.ru/people/alexanderpanchenko" class="uk-link-reset">
                            <div class="thumbnail-left"><img src="/img/panchenko.jpg" alt="Alexander Panchenko"></div>
                            <div class="uk-height-1-1">
                                <div class="uk-card-title">Alexander Panchenko</div>
                                <div class="uk-text-secondary uk-margin-top">Skolkovo Institute of Science and Technology</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="uk-grid-margin uk-first-column">
                    <div class="uk-card uk-card-default uk-card-body">
                        <a href="http://weimar.webis.de/people#stein" class="uk-link-reset">
                            <div class="thumbnail-left"><img src="/img/stein.jpg" alt="Benno Stein"></div>
                            <div class="uk-height-1-1">
                                <div class="uk-card-title">Benno Stein</div>
                                <div class="uk-text-secondary uk-margin-top">Bauhaus-Universität Weimar</div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <!--Organizations container-->
            <div class="uk-container uk-padding uk-padding-remove-bottom">
                <div class="task-chair-organizations">
                    <div>
                        <a href="https://webis.de/" target="_blank" class="uk-link-reset uk-text-large ">
                            <img src="/img/webis-logo-green.png" alt="">
                            &nbsp;Webis
                        </a>
                    </div>
                    <div>
                        <a href="https://www.informatik.uni-halle.de/arbeitsgruppen/big_data_analytics/" target="_blank" class="uk-link-reset">
                            <img src="/img/mlu-logo-res.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="https://temir.org/" target="_blank" class="uk-link-reset">
                            <img src="/img/unileipzig-logo-res.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="https://cs.uni-paderborn.de/css/" target="_blank" class="uk-link-reset">
                            <img src="/img/logo-pu-new.png" alt="">
                        </a>
                    </div>
                    <!--<div style="padding-top: 12px;">-->
                    <div>
                        <a href="https://www.inf.uni-hamburg.de/en/inst/ab/lt/home.html" target="_blank" class="uk-link-reset">
                            <img src="/img/unihamburg-res.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="https://crei.skoltech.ru/cdise" target="_blank" class="uk-link-reset">
                            <img src="/img/skoltech-logo-res.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.uni-weimar.de/en/media/structure/computer-science-department/" target="_blank" class="uk-link-reset">
                            <img src="/img/logo-bauhaus-universitaet-weimar.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="https://clef2020.clef-initiative.eu/" target="_blank" class="uk-link-reset">
                            <img src="/img/clef2020-logo-res.png" alt="">
                        </a>
                    </div>
                </div>
        </div> 

    </footer>

    <footer class="uk-section uk-section-muted footer-section">
        <div class="uk-container">
            <div class="uk-align-right@m uk-margin-top">
                Copyright &copy; 2019 <a href="https://webis.de/">Webis group</a> <span class="uk-padding-small">&bullet;</span>
                <a href="https://www.informatik.uni-halle.de/arbeitsgruppen/big_data_analytics/mitarbeiter/bondarenko/">Contact</a> <span class="uk-padding-small">&bullet;</span>
                <a href="https://webis.de/impressum.html">Impressum / Privacy policy</a>
            </div>
        </div>
    </footer> 
<script>
    UIkit.util.ready(() => {
        const nav = UIkit.util.$(".global-nav");
        const navHeight = UIkit.util.height(nav);
        // correct scroll offset due to fixed navigation after page load
        let fixScrollHeight = () => {
            if (location.hash === "" || !UIkit.util.$(location.hash)) {
                return;
            }
            const pos = document.documentElement.scrollTop;
            const offset = UIkit.util.offset(UIkit.util.$(location.hash));
            if (pos > navHeight * .8 && offset) {
                document.documentElement.scrollTop = offset.top - navHeight - 20;
            }
        };
        window.addEventListener("hashchange", fixScrollHeight, false);
        setTimeout(fixScrollHeight, 100);
    });
</script>

</body>
</html>
